
					.head-phone-h-two a:hover {
						color: #0076e3;
					}
					.fixed-on .menu-header-two a:hover {
					color:  #0076e3;
					}
					.fixed-on .menu-header-two a {
					color:  #0076e3;
					}
					.bg_logo {
					background: #0076e3;
					}
					a {
						color: #0076e3;
					}
					a:hover {
						color: #0076e3;
					}
			
					.hero-btn {
					background-color: #0076e3;
					border: 1px solid #0076e3;
					}
					.btn-head-right:hover {
					background-color: #0076e3;
					border: 1px solid #0076e3;
					}
					.head-phone:hover {
					  color: #0076e3;
					}
					.head-phone:hover a {
					color: #0076e3;
					}
					.head-phone:hover span {
						border: solid 1px #0076e3;
					}
					.head-phone:hover svg path {
						fill: #0076e3;
					}
					.s-btn {
					  color: #0076e3;
					  border: 1px solid #0076e3;
					}
					.s-btn:hover {
					  background: #0076e3;
					}
					.service-box-link {
					border-bottom: 1px solid rgba(0, 118, 227, .3);
					}
					.goods-box-wrapper {
					  background-color: #0076e3;
					}
					.catalog-div-btn {
					  color: #0076e3;
					  border: 1px solid #0076e3;
					}
					.catalog-div-btn:hover {
					  background-color: #0076e3;
					}
					.catalog-div:hover .catalog-div-price-new {
					color: #0076e3;
					}
					.catalog-box-f span:hover {
					  color: #0076e3;
					  border-bottom: 1px solid rgba(0, 118, 227, .3);
					}
					.catalog-box-f span.active {
					color: #0076e3;
					border-bottom: 1px solid rgba(0, 118, 227, .3);
					}
					.gallery-box-f span:hover {
					  color: #0076e3;
					   border-bottom: 1px solid rgba(0, 118, 227, .3);
					}
					.gallery-box-f span.active {
					border-bottom: 1px solid rgba(0, 118, 227, .3);
					color: #0076e3;
					}
					.map-box-wrapper {
					  background-color: #0076e3;
					}
					.comment-box-wrapper {
					  background-color: #0076e3;
					}
					.footer-bottom-line-center p {
					  color: #0076e3;
					}
					.close-menu-btn:hover:before, .close-menu-btn:hover:after {
					  background-color: #0076e3;
					}
					.head-btn-menu-box:hover svg path {
					fill: #0076e3;
					}
					.menu-list li a {
					  color: #0076e3;
					  border-bottom: 1px solid rgba(0, 118, 227, .3);
					}
					.menu-phone a {
					color: #0076e3;
					}
					.btn-f {
					background-color: #0076e3;
					border-color: #0076e3;
					}
					.modal-price {
						color: #0076e3;
					}
					.politic-box a {
					color: #0076e3;
					}
					.icon-map svg path {
					  fill: #0076e3;
					}
					.comment-box-slide-file svg path {
					  fill: #0076e3;
					}
					.slick-dots li.slick-active button {
						background-color: #0076e3;
					}
					.head.fixed-on .head-btn-menu-box svg path {
						fill: #0076e3;
					}
					.head.fixed-on .head-phone a {
						color: #0076e3;
					}
			
					.head.fixed-on .head-phone a:hover {
						color: rgb(78, 168, 251);
					}
					.head.fixed-on .head-phone:hover span {
					border: 1px solid rgb(78, 168, 251);
					}
					.head.fixed-on .head-phone:hover svg path  {
					fill: rgb(78, 168, 251);
					}
					.head.fixed-on .head-logo-text {
						color: #0076e3;
					}
					.head.fixed-on .head-phone svg path {
						fill: #0076e3;
					}
					.head.fixed-on .head-phone span {
						border: solid 1px #0076e3;
					}
					.head.fixed-on .btn-head-right {
						color: #0076e3;
						border: 1px solid #0076e3;
					}
					.footer-bottom-line-center a {
					border-bottom: 1px solid rgba(0, 118, 227, .3);
					}
					.comment-box-slide-file a {
					border-bottom: 1px solid rgba(0, 118, 227, .3);
					}
			
					.hero-btn:hover, .btn-f:hover {
					  background-color: rgb(78, 168, 251);
					  border: 1px solid rgb(78, 168, 251);
					}
					.head-phone:hover span {
					border: 1px solid rgb(78, 168, 251);
					}
					.head-phone:hover svg path  {
					fill: rgb(78, 168, 251);
					}
					.head-phone:hover a {
					color: rgb(78, 168, 251);
					}
					//new header
					.head.fixed-on .menu-header-two a {
						color: #0076e3;
					}
					.head.fixed-on .head-phone-tab-tel a {
					  color: #0076e3;
					}
					.head.fixed-on .head-phone-h-two span {
						border: solid 1px #0076e3;
					}
					.head.fixed-on .head-phone-h-two span svg path {
						fill: #0076e3;
					}
					.btn-ff {
						background-color: #0076e3;
					}
					ul.mark-list li::before {
						background-color: #0076e3;
					}
					.site-color {
					background-color: #0076e3 !important;
					}
				