@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Scada:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/*
    font-family: 'Scada', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'PT Sans', sans-serif;
*/
body {

font-family: 'Roboto', sans-serif;

}
/*4 variants for block*/
.description-box-wrapper, .service-wrapper-box, .steps-box-wrapper, .goods-box-wrapper, .catalog-box-wrapper, .comment-box-wrapper, .gallery-box-wrapper, .map-box-wrapper {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;
}
.background-block:before {
content: '';
background-color: rgba(0, 0, 0, .5);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 0;
}
.head-logo, .head-logo-text {
cursor: pointer;
}
.gray-block {
background-color: #EDF0F4 !important;
}
.white-block {
background-color: #ffffff !important;
}
/*4 variants for block*/
.modal-catalog-slider .slick-slide {
height: auto;
}
.modal-catalog-slider .slick-slide > div {
height: 100%;
}
.modal-catalog-slide-in img {
max-width: 100%;
max-height: 100%;
}
.modal-catalog-slider .slick-track {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.modal-catalog-slider .modal-catalog-slide {
height: 100%;
}
.modal-catalog-slider .modal-catalog-slide-in {
height: 100%;
}
.modal-open {

overflow: hidden !important;

}
.fl-one {
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
}
.map-adres-box a {
font-family: 'Roboto', sans-serif;
font-size: 21px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.25;
letter-spacing: normal;
text-align: left;
color: #ffffff;
margin: 0;
display: block;
}
.map-adres-box a {
color: #ffffff;
}
#fl {
  display: none;
}
.bg_logo {

/*background: #0076e3;*/

}
/*a {
    color: #0076e3;
}*/
a:hover {
    text-decoration: none;
    /*color: #0076e3;*/
}

@media screen and (min-width: 1200px) {
.container {
    max-width: 1560px;
}
}

.switch-header {
  color: #fff;
}
.switch-header span:hover {
cursor: pointer;
}
.description-box-img img {
  max-width: 100%;
}
/*HEADER 2*/

.head-two .head-btn-menu-box {
display: none;
}

.head-phone-h-two {
display: flex;
align-items: center;
font-family: 'Scada', sans-serif;
font-size: 18px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #ffffff;
transition: .4s;
}
.head-phone-h-two span {
display: inline-flex;
width: 36px;
height: 36px;
border: solid 1px #ffffff;
border-radius: 50%;
position: relative;
margin-right: 15px;
transition: .4s;
}
.head-phone-h-two svg {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: .4s;
}
.head-phone-h-two svg path {
transition: .4s;
}
.head-phone-h-two a {
color: #fff;
transition: .4s;
}
.head-phone-h-two-tel a {
  display: block;
}
.menu-header-two {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-header-two a {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #ffffff;
  margin-right: 20px;
  border-bottom: 1px solid transparent;
  transition: .4s;
}
.menu-header-two a:hover {
  border-bottom: 1px solid;
  color: #fff;
}
.menu-header-two a:active {
  border-bottom: 1px solid;
}
.menu-header-two li:last-child a {

margin-right: 0;

}
.head-two .head-left {
  margin-right: 80px;
}

.head-two .head-right {
  -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.menu-header-two {
-webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

@media screen and (max-width: 1300px) {
  .head-two .head-left {
    margin-right: 30px;
}

}
@media screen and (max-width: 1200px) {
.menu-header-two {
  display: none !important;
}
.head-two .head-btn-menu-box {
    display: block;
}
.head-two .head-right {
  -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.head-two .head-left {
    margin-right: 0;
}
}
/*HEADER 2*/

.hero-slide-inner-img-wr img {
    display: block;
    max-width: 100%;
    max-height: 100%;
height: auto;
width: auto;
}
.hero-box {
height: 100vh;
width: 100%;
overflow: hidden;
transition: .3s;
}

.blur {

-webkit-filter: blur(4px);
            filter: blur(4px);

}

.hero-slide {

background-position: center, center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.table-dd-wrapper {
  width: 100%;
  /*overflow-x: auto;*/
}
.hero-slide-inner {
height: 100%;
position: relative;
z-index: 1;
padding: 0;
}
.modal-ps .modal-dialog {
    max-width: 845px;
}
.modal-ps .modal-body {
  padding: 35px 65px;
}
.modal-ps p {
  margin-bottom: 5px;
}
.modal-ps .modal-cl-box {
position: absolute;
top: 0;
left: 0;
width: 100%;
}
.modal-ps .close {
    float: right;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    margin-right: 20px;
    margin-top: 10px;
}
.hero-slide-inner-img-wr {
height: 100%;
align-items: flex-end;
justify-content: center;
padding-top: 140px;
}
.hero-slide-inner-text-wr {
height: 100%;
align-items: center;
}
.hero-slide-inner-title {
font-family: 'Scada', sans-serif;
font-size: 60px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 1.2;
letter-spacing: normal;
text-transform: uppercase;
color: #ffffff;
}
.hero-slide-inner-text {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  
  color: #ffffff;
  margin-bottom: 70px;
}
.hero-slide:before {
content: '';
background-color: rgba(0, 0, 0, .5);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 0;
}
.hero-btn {
border-radius: 3px;
/*background-color: #0076e3;
border: 1px solid #0076e3;*/
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: 300;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 1.2px;
text-align: center;
color: #ffffff;
padding: 12px 28px;
cursor: pointer;
white-space: nowrap;	
transition: .4s;
}
.head {
height: 140px;
background: transparent;
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 777;
transition: .5s;
}
.gallery-div img {
	width: 100%;
}
.head-container {
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
height: 100%;
}
.head-left {
flex-direction: row;
flex-wrap: wrap;
align-items: center;
}
.head-btn-menu-box svg {
display: block;
}
.head-btn-menu-box {
	margin-right: 35px;
}
.head-logo {
margin-right: 15px;
}
.head-logo-text {
font-family: 'Scada', sans-serif;
font-size: 36px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 2.36;
letter-spacing: normal;
text-align: left;
color: #ffffff;
transition: .4s;
}
.head-phone {
display: flex;
align-items: center;
font-family: 'Scada', sans-serif;
font-size: 24px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #ffffff;
margin-right: 45px;
transition: .4s;
}
.head-phone span {
display: inline-flex;
width: 36px;
height: 36px;
border: solid 1px #ffffff;
border-radius: 50%;
position: relative;
margin-right: 15px;
transition: .4s;
}
.head-phone svg {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: .4s;
}
.head-phone svg path {
transition: .4s;
}
.head-right {
flex-direction: row;
align-items: center;
flex-wrap: wrap;
}
.btn-head-right {
border-radius: 3px;
background-color: transparent;
border: 1px solid #fff;
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: 300;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.1px;
text-align: center;
color: #ffffff;
padding: 12px 25px;
cursor: pointer;
transition: all .4s;
}
.head-phone a {
color: #fff;
transition: .4s;
}
.btn-head-right:hover {
/*background-color: #0076e3;
border: 1px solid #0076e3;*/
}
.head-phone:hover {
	/*color: #0076e3;*/
}
.head-phone:hover a {

/*color: #0076e3;*/
text-decoration: none;
}
.head-phone:hover span {

    /*border: solid 1px #0076e3;*/

}
.head-phone:hover svg path {

/*    fill: #0076e3;*/

}
.t-c {

text-align: center;

}
.video-bg {
	position: absolute;

width: 100%;

height: 100%;

top: 0;

left: 0;

z-index: -1;
}
.video-bg > video {
	position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description-box-text-title {
  font-family: 'Scada', sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: #363636;
  margin-bottom: 40px;
}
.description-box-text  {
font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: justify;
  color: #393939;
}
.description-box {
  flex-direction: row;
flex-wrap: wrap;
}
.description-box-wrapper {
background-color: #ffffff;
padding: 110px 0 120px;
}
ul.mark-list {
/*
list-style-image: url(img/dash.png);*/
list-style: none;
padding: 0;
}
ul.mark-list li {
  position: relative;
padding-left: 20px;
margin-bottom: 1rem;
}
ul.mark-list li:before {
  display: inline-block;
vertical-align: middle;
width: 12px;
height: 2px;
position: absolute;
top: 13.5px;
left: 0;
margin-right: 8px;
content: ' ';
}
.description-box-img {
align-items: center;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}
.s-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
  /*color: #0076e3;
  border: 1px solid #0076e3;*/
  background: transparent;
  padding: 12px 28px;
  border-radius: 3px;
  cursor: pointer;
  transition: .4s;
}
.s-btn:hover {
  /*background: #0076e3;*/
  color: #fff !important;
}
.service-box-title {
  font-family: 'Scada', sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: normal;
  color: #363636;
  margin-bottom: 55px;
}
.service-wrapper-box {
background-color: #EDF0F4;
padding: 110px 0;
}

.service-box-img-title {
font-family: 'Scada', sans-serif;
font-size: 30px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #ffffff;
position: absolute;
bottom: 15px;
margin: 0;
left: 36px;
padding-right: 36px;
}
.service-box-img-bg {

position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 117px;
/*background-color: rgba(0, 0, 0, .5);*/
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.61) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.61) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.61) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#9c000000',GradientType=0 );
}
.service-box-img {
  position: relative;
  height: 235px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  overflow: hidden;
}
.service-box-text {
  background-color: #ffffff;
  box-shadow: 0.5px 0.9px 4px 0 rgba(201, 201, 201, 0.75);
  padding: 20px 35px 50px 35px; 
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.service-box-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: justify;
  color: #393939;
  margin-bottom: 25px;
}
.service-box-wr {
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
margin: -15px;
}
.service-box-text-bottom {
  align-items: center;
justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
}
.service-box-link {

  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

/*border-bottom: 1px solid rgba(0, 118, 227, .3);*/
transition: .4s;
}
.service-box-link:hover {
  text-decoration: none;
  border-bottom-color: transparent;
}
.service-box {
  height: 100%;
flex-direction: column;
padding: 15px 0;
}
.service-box-text {
flex: 1;
flex-direction: column;
justify-content: space-between;
}
.steps-box-wrapper {
padding: 110px 0;
background: #fff;
}
.steps-box-title {
  font-family: 'Scada', sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #363636;
  margin-bottom: 70px;
}
.step-text-box-text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #363636;
}
.step-text-box-title {
  font-family: 'Scada', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
}
.steps-box {
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.step-img-box {
  margin-bottom: 20px;
  padding: 30px 0 0 30px;
  position: relative;
  height: 88px;
}
.step-img-box img {

    position: relative;
    max-height: 58px;

}
.step-b-w {
  margin: 15px 0;
}

.step-img-box:before {
font-family: 'Roboto', sans-serif;
font-size: 60px;
font-weight: bold;
font-style: normal;
font-stretch: condensed;
line-height: normal;
letter-spacing: normal;
color: #eff2f5;
position: absolute;
left: 0;
top: -10px;
z-index: 0;
}
.step-b-w:first-child .step-img-box:before {
content: '01';
}
.step-b-w:nth-child(2) .step-img-box:before {
content: '02';
}
.step-b-w:nth-child(3) .step-img-box:before {
content: '03';
}
.step-b-w:nth-child(4) .step-img-box:before {
content: '04';
}
.step-b-w:nth-child(5) .step-img-box:before {
content: '05';
}
.step-b-w:nth-child(6) .step-img-box:before {
content: '06';
}
.step-b-w:nth-child(7) .step-img-box:before {
content: '07';
}
.step-b-w:nth-child(8) .step-img-box:before {
content: '08';
}
.step-b-w:nth-child(9) .step-img-box:before {
content: '09';
}
.step-b-w:nth-child(10) .step-img-box:before {
content: '10';
}
.step-b-w:nth-child(11) .step-img-box:before {
content: '11';
}
.step-b-w:nth-child(12) .step-img-box:before {
content: '12';
}


.step-img-box:after {

content: '';
position: absolute;
top: 42px;
left: 134px;
width: 62%;
height: 5px;
border-bottom: 5px dotted #eff2f5;

}
.step-b-w:nth-child(4n+4) .step-img-box:after {
content: unset;
display: none;
}
.goods-box-wrapper {
  /*background-color: #0076e3;*/
  padding: 110px 0 50px 0;
}
.goods-box-title {
  font-family: 'Scada', sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 80px;
}
.goods {

color: #fff;
margin-bottom: 70px;
}
.goods-t-i-box {
display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin-bottom: 20px;
}
.goods-i {
  margin-right: 15px;
  max-width: 50px;
}
.goods-t {
  font-family: 'Scada', sans-serif;
  font-size: 24px;
  font-weight: bold;
line-height: 24px;
flex: 1;
}
.goods-text {
font-size: 18px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.67;
letter-spacing: normal;
}
.goods-box {
  -ms-flex-wrap: wrap;
        flex-wrap: wrap;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
}
.catalog-box-wrapper {

padding: 110px 0;
background: #fff;

}
.catalog-box-title {
  font-family: 'Scada', sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #363636;
}
.catalog-box {
 -ms-flex-wrap: wrap;
        flex-wrap: wrap;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
/*margin-right: -15px;
margin-left: -15px;*/
display: block;
width: 100%;
position: relative;
z-index: 5;
}
/*.catalog-box-filtr-container-wr {
margin-right: -15px;
margin-left: -15px;
}*/
.catalog-div-img {
position: relative;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin-bottom: 25px;
height: 280px;
}
.catalog-div-img img {
max-width: 100%;
max-height: 100%;
}
.catalog-div {
  max-width: 360px;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 1.2px 1.5px 4px 0.3px rgba(201, 201, 201, 0.75);
  padding-bottom: 30px;
}
.hero-slide-inner-text-center {
  width: 100%;
}
.catalog-div-title {
padding-left: 15px;
max-width: 100%;
margin-bottom: 40px;
text-align: left;
font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #363636;
}

.catalog-div-price-new {
  font-size: 30px;
  font-weight: bold;
  transition: .4s;
}
.catalog-div-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
  /*color: #0076e3;
  border: 1px solid #0076e3;*/
  background: transparent;
  padding: 12px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: .4s;
}
.catalog-div-btn:hover {
  /*background-color: #0076e3;*/
  color: #fff !important;
}
.catalog-div-price {
  margin-bottom: 20px;
}
.catalog-div-price-old {
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #363636;
margin-right: 5px;
}
.catalog-box-t-f-wrapper {
  margin-bottom: 45px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.catalog-div:hover .catalog-div-price-new {
/*color: #0076e3;*/
}
.catalog-out {
  padding: 15px;
}
.catalog-box-f {
  display: inline-block;
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #363636;
max-width: 1100px;
}
.gallery-box-f span:last-child, .catalog-box-f span:last-child {
  margin-right: 0;
}
.catalog-box-f span {
  margin-right: 50px;
  transition: .4s;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.catalog-box-f span:hover {
  /*color: #0076e3;
  border-bottom: 1px solid rgba(0, 118, 227, .3);*/
}
.catalog-box-f span.active {
/*color: #0076e3;
border-bottom: 1px solid rgba(0, 118, 227, .3);*/
}
.gallery-box-f {
  display: inline-block;
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #363636;
max-width: 1100px;
}
.gallery-box-f span {
  margin-right: 50px;
  transition: .4s;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.gallery-box-f span:hover {
  /*color: #0076e3;
   border-bottom: 1px solid rgba(0, 118, 227, .3);*/
}
.gallery-box-f span.active {
/*border-bottom: 1px solid rgba(0, 118, 227, .3);
color: #0076e3;*/

}
.gallery-box {

flex-wrap: wrap;
flex-direction: row;

}
.gallery-out {

padding: 5px;

}
.gallery-box-wrapper {
  padding: 110px 0 100px 0;
  background: #fff;
}
.filtr-gallery {

position: relative;
z-index: 5;

}
.map-box-title {
  font-family: 'Scada', sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 50px;
}
.map-box-wrapper {
  /*background-color: #0076e3;*/
  padding: 110px 0 100px 0;
  color: #fff;
}
.map-adres-text {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 0;
}
.map-adres-text a {
  color: #ffffff;
}
.map-adres-title {
font-family: 'Scada', sans-serif;
font-weight: bold;
font-size: 24px;
font-style: normal;
font-stretch: normal;
line-height: 1.25;
letter-spacing: normal;
text-align: left;
color: #ffffff;
}
.map-box-adres {
  -ms-flex-wrap: wrap;
        flex-wrap: wrap;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
}
#map {
  height: 300px;
  width: 100%;
}
.icon-map {

position: relative;


}
.icon-map svg {

position: absolute;
top: -54px;
left: -20px;
width: 38px;
height: 51px;

}
.map-adres-box {
  margin-bottom: 35px;
}
.f-copyright {

margin-bottom: 0;

}
footer {

background-color: #fff;
padding: 16px 0 19px 0;
}
.footer-wrapper {

  -ms-flex-wrap: wrap;
        flex-wrap: wrap;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;

}
.footer-logo-text {
font-family: 'Scada', sans-serif;
font-size: 30px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #bdbdbd;
}
.f-copyright {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #bdbdbd;
}
.footer-logo {
  -ms-flex-wrap: wrap;
        flex-wrap: wrap;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.footer-logo-img {

margin-right: 12px;

}
.footer-wrapper {
  margin-bottom: 5px;
}
.comment-box-wrapper {
  /*background-color: #0076e3;*/
  padding: 110px 0;
  color: #ffffff;
}
.comment-box-title {
  font-family: 'Scada', sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.comment-box-nav-right, .comment-box-nav-right svg {
  display: block;
}
.comment-box-nav-left, .comment-box-nav-left svg {
  display: block;
}
.comment-box-nav-left svg {
  -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.comment-box-nav {
  align-items: center;
}
.comment-box-t-n {
-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
 align-items: center;
margin-bottom: 60px;
}
.comment-box-nav-left {
  margin-right: 23px;
}
.comment-box-nav > span {
opacity: 1;
transition: .4s;
cursor: pointer;
}
.comment-box-nav > span:hover {
opacity: .5;
}
.comment-box-slider-wrapper {
  margin-right: -15px;
  margin-left: -15px;
}
.comment-box-slide {
  color: #363636;
  padding: 30px;
  margin: 0 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0.5px 0.9px 4px 0 rgba(201, 201, 201, 0.75);
}
.comment-box-slide-img img {

width: 106px;
height: 106px;
border-radius: 50%;

}
.comment-box-slide-img {

margin-bottom: 20px;

}
.comment-box-slide-title p {
font-family: 'Scada', sans-serif;
font-size: 24px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
}
.comment-box-slide-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
}
.comment-box-slide-file {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.comment-box-slide-file svg {

margin-right: 10px;

}
.footer-social-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(img/soc-sprite.png);
  background-repeat: no-repeat;
  margin-right: 10px;
  opacity: 1;
  transition: .4s;
}
.footer-social-link:hover {
  opacity: .5;
}
.footer-wrapper {
align-items: center;
margin-right: -15px;
margin-left: -15px;
}
.footer-center {

justify-content: center;

}
.footer-social-link.vk {
background-position: 0 0;
}
.footer-social-link.fb {
background-position: -43px 0;
}
.footer-social-link.tw {
background-position: -86px 0;
}
.footer-social-link.in {
background-position: -131px 0;
}
.footer-social-link.yt {
background-position: -174px 0;
}
.footer-social-link.ok {
background-position: -218px 0;
}
.footer-social-link:last-child {
  margin-right: 0;
}
.footer-payment-link {
  display: inline-block;
  background-image: url(img/pay-sprite.png);
  background-repeat: no-repeat;
  margin-right: 10px;
  opacity: 1;
  transition: .4s;
  height: 22px;
}
.footer-payment-link:hover {
  opacity: .5;
}
.footer-payment-link:last-child {
  margin-right: 0;
}
.footer-payment-link.vs {
  width: 39px;
background-position: 0 0;
}
.footer-payment-link.mc {
width: 36px;
background-position: -47px 0;
}
.footer-payment-link.qw {
width: 20px;
background-position: -91px 0;
}
.footer-payment-link.wm {
width: 23px;
background-position: -120px 0;
}
.footer-payment-link.ym {
width: 20px;
background-position: -150px 0;
}
.footer-payment-link.mr {
width: 43px;
background-position: -181px 0;
}
.footer-payment {
  -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.footer-bottom-line-center {

-webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer-bottom-line-right {
  -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
            -webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer-bottom-line-center p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  /*color: #0076e3;*/
}
.footer-bottom-line-right p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
.footer-bottom-line-wr {
  -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.menu-box-wrapper {
position: fixed;
left: 0;
padding: 50px 65px 0 65px;
background-color: #fff;
top: 0;
z-index: 996;
height: 100%;
transform: translateX(-100%);
transition: .6s;
overflow-y: auto;
}
.menu-box {
  flex-direction: column;
height: 100%;
max-width: 252px;
}
.menu-list-box {
  flex: 1;
  margin-bottom: 25px;
}
#menu_overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  opacity: .1;
  visibility: hidden;
  z-index: 995;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateZ(0);
}
#menu_overlay.visible {
  transition-delay: 0;
  visibility: visible;
  opacity: 1;
}
.menu-box-wrapper.visible {
transform: translateX(0);
}
.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-list li:before {
content: unset;
display: none;
}
.close-menu-btn {

width: 32px;
height: 32px;
display: inline-block;
position: relative;
cursor: pointer;
}
.close-btn-box {
  margin-bottom: 35px;
}
.close-menu-btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 42px;
  height: 4px;
  border-radius: 10px;
  background-color: #bdbdbd;
  transition: .4s;
}
.close-menu-btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 42px;
  height: 4px;
  border-radius: 10px;
  background-color: #bdbdbd;
  transition: .4s;
}
.close-menu-btn:hover:before, .close-menu-btn:hover:after {
  /*background-color: #0076e3;*/
}
.head-btn-menu-box:hover {
  cursor: pointer;
}
.head-btn-menu-box svg path {
transition: .4s;
}
.head-btn-menu-box:hover svg path {
/*fill: #0076e3;*/
}
.menu-list li a {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  /*color: #0076e3;
  border-bottom: 1px solid rgba(0, 118, 227, .3);*/
  transition: .4s;
}
.menu-list li a:hover {
  border-bottom-color: transparent; 
}
.menu-call-btn-box {
  text-align: center;
  margin-bottom: 40px;
}
.menu-call-btn-box button {

width: 237px;
padding: 12px 16px;

}
.menu-phone {
margin-bottom: 25px;
  text-align: center;
}
.menu-phone a {
  display: block;
font-size: 24px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.5;
letter-spacing: normal;
/*color: #0076e3;*/
}
.menu-social {

justify-content: space-between;
flex-wrap: wrap;

}
.menu-social-box {

margin-bottom: 35px;

}
.menu-social-link {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-image: url(img/menu-soc-sprite.png);
  background-repeat: no-repeat;
  opacity: 1;
  transition: .4s;
}
.menu-social-link:hover {
  opacity: .5;
}

.menu-social-link.vk {
background-position: 0 0;
}
.menu-social-link.fb {
background-position: -40px 0;
}
.menu-social-link.tw {
background-position: -80px 0;
}
.menu-social-link.in {
background-position: -122px 0;
}
.menu-social-link.yt {
background-position: -162px 0;
}
.menu-social-link.ok {
background-position: -203px 0;
}
.menu-social-link:last-child {
  margin-right: 0;
}
#modalPhone .modal-content {
  background-color: #f6f6f6;
}
.modal-phone-title {
font-family: 'Scada', sans-serif;
font-size: 30px;
font-weight: bold;
line-height: normal;
letter-spacing: normal;
}
.modal-phone-title-box {
  text-align: center;
}
.modal-phone-untitle {
font-size: 18px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.33;
letter-spacing: 0.1px;
color: #363636;
}
#modalPhone .modal-dialog {
    max-width: 440px;
}
#modalPhone .modal-body {
    padding: 35px 65px;
}
.btn-f {
/*background-color: #0076e3;*/
font-size: 18px;
font-weight: 300;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.9px;
text-align: center;
color: #ffffff;
width: 100%;
height: 45px;
transition: .4s;
}
.form-control {
padding: 0.628rem .75rem;
border: solid 1px #dedede;
padding-left: 40px;
}
.form-control.name {
    background-image: url(img/icon-name.png);
    background-repeat: no-repeat;
    background-position: 17px center;
}
.form-control.tel {
    background-image: url(img/tel-icon.png);
    background-repeat: no-repeat;
    background-position: 17px center;
}
#modalPhone .modal-cl-box .close {
position: absolute;
top: 10px;
right: 10px;
font-size: 42px;
font-weight: 300;
line-height: 62%;
}
.politic-box {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #797979;
}
.politic-box a {
/*color: #0076e3;*/
}
.modal-phone-form-box {
  margin-bottom: 15px;
}
.modal-phone-form-box form {
  text-align: center;
}
.modal-phone-title-box {
margin-bottom: 30px;
}
.modal-catalog .modal-dialog {
    max-width: 945px;
}
/*.modal-catalog-slider, .modal-catalog-slider-nav {
  height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}*/
.modal-catalog-wrapper-top {
  -webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.modal-catalog-left {
  width: 360px
}
.modal-catalog-right {
  flex: 1;
}
.modal-catalog-slide-nav-in img {
max-width: 100%;
max-height: 100%;
}
.modal-catalog-slide-nav-in {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
width: 100%;
height: 90px;
border: solid 1px #eff2f5;
padding: 2px;
}
.modal-catalog-slide-in {
justify-content: center;
align-items: center;
border: solid 1px #eff2f5;
padding: 10px
}
.modal-catalog-slide-nav {
display: -webkit-box !important;
display: -ms-flexbox !important;
display: flex !important;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
        padding: 0 9px;
}
.modal-catalog-slider-nav {
margin-left: -9px;
margin-right: -9px;
}
.modal-catalog-slider {
  margin-bottom: 10px;
}
.modal-catalog-left {
  margin-right: 15px;
}
.modal-catalog-desc p {
  margin-bottom: 9px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #363636;
}
p.modal-catalog-desc-title {
  font-family: 'Scada', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #363636;
}
.modal-catalog .close {
    float: none;
    font-size: 42px;
    font-weight: 300;
    line-height: 62%;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    position: absolute;
    top: 5px;
    right: 15px;
}
.modal-catalog .modal-body {
  padding: 35px 65px 50px 65px;
}
.modal-catalog-desc-price {
  margin-top: 30px;
}
.modal-old-price {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #363636;
}
.modal-price {
  font-size: 30px;
  font-weight: bold;
  /*color: #0076e3;*/
}

.m-c-form {
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.m-c-form .form-group {
  max-width: 280px;
  width: 100%;
  margin-right: 15px;
  margin-bottom: 0;
  flex: 1;
}
.btn-f {
  max-width: 195px;
}
.modal-catalog-wrapper-bottom {
  background-color: #f6f6f6;
  padding: 20px 65px 30px 65px;
}
.modal-catalog-bottom-untitle {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.1px;
  text-align: center;
  color: #363636;
}
.modal-catalog-bottom-title {
  font-family: 'Scada', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: normal;
  margin-bottom: 0;
}

.head.fixed-on {
background: #fff;
height: 100px;
position: fixed;
top: 0 !important;
-webkit-box-shadow: 0px -1px 31px 2px rgba(0,0,0,0.21);
-moz-box-shadow: 0px -1px 31px 2px rgba(0,0,0,0.21);
box-shadow: 0px -1px 31px 2px rgba(0,0,0,0.21);
}
.head.fixed-on .head-btn-menu-box svg path {
    /*fill: #0076e3;*/
}
.head.fixed-on .head-phone a {
    /*color: #0076e3;*/
}

.head.fixed-on .head-phone a:hover {
    /*color: rgb(78, 168, 251);*/
}
.head.fixed-on .head-phone:hover span {
/*border: 1px solid rgb(78, 168, 251);*/
}
.head.fixed-on .head-phone:hover svg path  {
/*fill: rgb(78, 168, 251);*/
}

.head.fixed-on .head-logo-text {
    /*color: #0076e3;*/
}
.head.fixed-on .head-phone svg path {
    /*fill: #0076e3;*/
}
.head.fixed-on .head-phone span {
    /*border: solid 1px #0076e3;*/
}
.head.fixed-on .btn-head-right {
    /*color: #0076e3;
    border: 1px solid #0076e3;*/
}
.btn-head-right:hover {
    color: #fff !important;
}
.modal-content {
    overflow: hidden;
}
.modal-service .modal-dialog {
    max-width: 930px;
}
.modal-service .modal-body {
padding: 0;
}
.table-dd {
  border: solid 1px #eff2f5;
  width: 100%;
  margin: 20px 0 25px 0;
}
.table-dd td {
  border-right: 1px solid #fff;
  padding: 20px 12px;
word-break: break-all;
}
.table-dd tr:nth-child(2n+1) td {
    background: #eff2f5;
}
.table-dd tr td:last-child {
  border-right: none;
}

.service-modal-box-img {
  margin-bottom: 20px;
}
.service-modal-header {
height: 314px;
margin-bottom: 40px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: relative;
}
.service-modal-box-img img {
  width: 100%;
}
.service-modal-box-wrapper {
  margin-bottom: 40px;
  padding: 0 65px;
}
.service-modal-box-wrapper p {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #363636;
margin-bottom: 0;
}
.modal-service .modal-cl-box {
position: absolute;
top: 0;
width: 100%;
z-index: 1;
}
.modal-service .close:focus, .modal-service .close:hover {
    color: #fff;
    opacity: .9;
}
.modal-service .close {
    font-size: 2rem;
    font-weight: 100;
    color: #fff;
    opacity: .75;
    margin-right: 20px;
    margin-top: 10px;
}
.service-modal-header-bg {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.55) 80%, rgba(0,0,0,0.8) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.55) 80%,rgba(0,0,0,0.8) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.55) 80%,rgba(0,0,0,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#73000000',GradientType=0 );
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
p.service-modal-title {
  font-family: 'Scada', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  margin-bottom: 25px;
  position: absolute;
  bottom: 0;
  padding: 0 65px;

}
.pick {
  position: fixed;
  height: auto;
  width: 230px;
  left: 0;
  top: 200px;
  background: #535c69;
  z-index: 800;
  padding: 10px;
  -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
        transform: translateX(-100%);
  transition: .5s;
}
.pick.visible {
-webkit-transform: translateX(0);
    -ms-transform: translateX(0);
        transform: translateX(0);
}
.catalog-div-img.hit:before {
content: 'хит';
background-image: url(img/hit.svg);
width: 46px;
height: 57px;
background-repeat: no-repeat;
background-position: top left; 
position: absolute;
top: 0;
right: 25px;
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 10px;
color: #fff;
font-size: 18px;
}
.catalog-div-img.new:before {
content: 'new';
background-image: url(img/new.svg);
width: 46px;
height: 57px;
background-repeat: no-repeat;
background-position: top left; 
position: absolute;
top: 0;
right: 25px;
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 10px;
color: #fff;
font-size: 18px;
}
.catalog-div-img.per:before {
content: '%';
background-image: url(img/per.svg);
width: 46px;
height: 57px;
background-repeat: no-repeat;
background-position: top left; 
position: absolute;
top: 0;
right: 25px;
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 10px;
color: #fff;
font-size: 24px;
}
.pick-header {
text-transform: uppercase;
color: #fff;
font-size: 14px;
position: relative;
height: 42px;
margin-top: -10px;
display: flex;
align-items: center;
}
.switch {
  background-color: #535c69;
position: absolute;
width: 42px;
height: 100%;
right: -52px;
top: 0;
background-image: url(img/settings.png);
background-repeat: no-repeat;
background-position: center center;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
cursor: pointer;
}
.pick-title {

color: #fff;
font-size: 13px;
margin-bottom: 5px;
}
.pick-block {
  -webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.pick-block-color {
  display: inline-block;
width: 25px;
height: 25px;
padding: 0;
border: 2px solid #252d31;
margin: 0 12px 12px 0;
cursor: pointer;
}
.sp-bg {
  background: #535c69;
  border: 1px solid #3e484e;
box-shadow: -5px 10px 30px #2c393f;
}
.pick-block-color.one{
  background-color: #e65100;
}
.pick-block-color.two {
background-color: #c21f13;
}
.pick-block-color.three {
  background-color: #b41818;
}
.pick-block-color.four {
  background-color: #bd1c3c;
}
.pick-block-color.five {
  background-color: #5f58ac;
}
.pick-block-color.six {
  background-color: #00569c;
}
.pick-block-color.seven {
  background-color: #107bb1;
}
.pick-block-color.eight {
  background-color: #107bb1;
}
.pick-block-color.nine {
  background-color: #0088cc;
}
.pick-block-color.ten {
  background-color: #497c9d;
}
.pick-block-color.eleven {
  background-color: #0fa8ae;
}
.pick-block-color.twelve {
  background-color: #0d897f;
}
.pick-block-color.thirteen {
  background-color: #1b9e77;
}
.pick-block-color.fourteen {
background-color: #188b30;
}
.pick-block-color.fifteen {
  background-color: #48a216;
}

.footer-bottom-line-center a {
/*border-bottom: 1px solid rgba(0, 118, 227, .3);*/
transition: .4s;
line-height: 20px;
}
.footer-bottom-line-center a:hover {
  border-bottom-color: transparent;
}
.comment-box-slide-file a {
/*border-bottom: 1px solid rgba(0, 118, 227, .3);*/
transition: .4s;
}
.comment-box-slide-file a:hover {
  border-bottom-color: transparent;
}

.colorswitch {
  background-color: #0076e3;
  background-image: url(img/color_picker.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.border-none {
  border: none !important;
  padding: 13px 26px;
}
.border-tr {
  border-color: transparent !important;
}

.catalog-out {
  display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
.head-phone-tab {
  display: none;
}
.head-phone-tab {
display: none;
align-items: center;
font-family: 'Scada', sans-serif;
font-size: 18px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #ffffff;
margin-right: 45px;
transition: .4s;
}
.head-phone-tab span {
display: inline-flex;
width: 36px;
height: 36px;
border: solid 1px #ffffff;
border-radius: 50%;
position: relative;
margin-right: 15px;
transition: .4s;
}
.head-phone-tab svg {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: .4s;
}
.head-phone-tab svg path {
transition: .4s;
}
.head-phone-tab a {
color: #fff;
transition: .4s;
}
.head-phone-tab-tel a {
  display: block;
}
.head-logo img {
  max-width: 91px;
}

.modal-ty-title {
font-size: 48px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #363636;
margin-bottom: 30px;
}
.modal-ty .modal-dialog {
    max-width: 845px;
}
.modal-ty .modal-body {
  padding: 35px 65px;
}
.modal-ty-text p {
    font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: justify;
  color: #393939;
}
.modal-ty-text p:last-child {
  margin-bottom: 0;
}
.modal-ty-text {
  margin-bottom: 30px;
}
.modal-ty-img {
  -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
        margin-bottom: 40px;

}
.modal-ty-footer p {
  font-size: 24px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 1.25;
letter-spacing: normal;
text-align: center;
color: #393939;
margin-bottom: 0;
}
.modal-ty-footer {
  margin-bottom: 30px;
}
.modal-ty-footer-soc {
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
}
.modal-ty-img img {
  max-width: 100%;
}
.modal-ty .modal-cl-box {
  position: absolute;
top: 0;
width: 100%;
left: 0;
}
.modal-ty .close {
font-size: 2.5rem;
font-weight: 300;
line-height: 1;
color: #000;
text-shadow: 0 1px 0 #fff;
margin-top: 10px;
margin-right: 20px;
}
.hero-btn:hover, .btn-f:hover {
  /*background-color: rgb(78, 168, 251);
  border: 1px solid rgb(78, 168, 251);*/
}
.head-phone:hover span {
/*border: 1px solid rgb(78, 168, 251);*/
}
.head-phone:hover svg path  {
/*fill: rgb(78, 168, 251);*/
}
.head-phone:hover a {
/*color: rgb(78, 168, 251);*/
}
/*PARALAX*/
.fhf {
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.num-pr-wr {
  position: relative;
  width: 51px;
  height: 91px;
}
.paralax-num {
  color: #b7bfc7;
font-size: 91px;
line-height: 100%;
font-family: 'Scada', sans-serif;
font-weight: 600;
transition: .1s;
}

.null-p {
        -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
        transform: rotate(10deg);
        position: absolute;
        top: -51px;
        left: 3px;

}
.paralax-num-wr {
  position: relative;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 50px;
}
.paralax-text-wr p {
  font-family: 'Scada', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.87;
  letter-spacing: normal;
  text-align: center;
  color: #363636;
  margin-bottom: 25px;
}
.paralax-img-wr {
  margin-bottom: 20px;
  display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.first-img {
  margin-bottom: -20px;
  position: relative;
  z-index: 10;
  transition: .1s;
}
.second-img {
width: 35px;
text-align: right;
margin-right: 18px;
position: relative;
z-index: 5;
transition: .1s;
}
.third-img {
  margin-left: 18px;
  position: relative;
  z-index: 5;
  transition: .1s;
}
.paralax-btn-wr {
  text-align: center;
}
. f {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
  background-color: #0076e3;
  border: none;
  width: 205px;
height: 48px;
border-radius: 3px;
cursor: pointer;
}
.btn-ff:before {
  content: url(img/ar-404.svg);
  position: relative;
  margin-right: 10px;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .paralax-text-wr p {
    font-size: 26px;
    line-height: normal;
}
}
/*PARALAX*/

@media screen and (max-width: 1199px) {
.btn-head-right {

  font-size: 18px;
  padding: 12px 18px;

}
.f-copyright, .footer-bottom-line-right p {
  font-size: 14px;
}
.service-box-link {

    font-size: 20px;

}
.footer-bottom-line-center a {
font-size: 14px;
text-align: center;
}
.head-right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
margin-left: 30px;
  }
.hidden-lg {
  display: none !important;
  }
.head-phone {
  display: none;
  }
.head-logo img {
  max-width: 59px;
}
.head-logo-text {
  font-size: 24px;
}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {

.head-phone-tab {
display: flex;
}

}
@media screen and (min-width: 1400px) {
.catalog-out, .gallery-out {
width: 25%;
}
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
.catalog-out, .gallery-out {
width: 33.333333%;
}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
.catalog-out, .gallery-out {
width: 50%;
}
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .hero-slide-inner-title {
font-size: 48px;
}
  .hero-slide-inner-text {
font-weight: 100;
margin-bottom: 40px;
}
}

@media screen and (max-width: 1200px) {
.catalog-box-f span, .gallery-box-f span {
  margin-right: 30px;
}
  .catalog-box-title, .catalog-box-title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
  }
  .catalog-box-f, .gallery-box-f {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
margin-top: 20px;
  }
}

@media screen and (max-width: 992px) {
  .footer-bottom-line-right {
    justify-content: center;
  }
  .footer-bottom-line-right {
    margin-bottom: 20px;
  }
  .footer-bottom-line-wr > div:last-child {
    order: 1;
  }
  .footer-bottom-line-wr > div:last-child {
    order: 1;
  }
  .footer-bottom-line-wr > div:first-child {
    order: 2;
  }
  .footer-bottom-line-wr > div:nth-child(2) {
    order: 3;
  }
  .footer-wrapper {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}
.footer-logo, .footer-payment {
  -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
  margin-bottom: 20px;
}
.footer-center {
  margin-bottom: 20px;
}
.footer-bottom-line-left {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    margin-bottom: 20px;
}
.hero-slide-inner-title {
  font-size: 45px;
  }
.hero-slide-inner-text {
  font-size: 25px;
  margin-bottom: 40px;
}
.order-desc-one {
  order: 2;
}
.order-desc-two {
  order: 1;
}
.description-box-img {
  margin-bottom: 35px;
}
}
@media screen and (max-width: 767px)  {
  /**/
.modal-ty-footer p, .modal-ty-text p {
    font-size: 20px;
    line-height: normal;
}
.modal-ty .modal-body {
    padding: 35px 15px;
}
.modal-ty-title {
    font-size: 36px;
  }
/**/
.modal-ps .modal-body {
    padding: 35px 15px;
}
  .comment-box-slide-title p {
    font-size: 22px;
}
.modal-catalog-right {
flex: 0 0 100%;
width: 100%;
}
.modal-catalog-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
}
p.modal-catalog-desc-title {
    font-size: 20px;
}
.modal-catalog .modal-body {
    padding: 35px 15px 50px 15px;
}

p.service-modal-title {
    padding: 0 15px;
    font-size: 22px;
}
.modal-catalog-wrapper-bottom {
  padding: 20px 15px 30px 15px;
}
  .step-img-box::after {
    content: unset;
    display: none;
    border-bottom: none;
}

.service-modal-box-wrapper {
    padding: 0 15px;
}
.description-box-text-title, .service-box-title, .steps-box-title, .goods-box-title, .catalog-box-title, .comment-box-title, .catalog-box-title, .map-box-title {
    font-size: 36px;
}
.hero-slide-inner-title {
  font-size: 36px;
}
.hero-slide-inner-text {
    font-size: 24px;
    font-weight: 100;
}
.hero-box {
    height: 765px;
}
.hero-slide-inner-title {
  font-size: 36px;
}
.catalog-out, .gallery-out {
width: 100%;
}
.head-right {
justify-content: flex-end;
}
}
@media screen and (max-width: 640px) {
.m-c-form {
  -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}
  .m-c-form .form-group {
    margin-right: 0;
    margin-bottom: 16px;
}

}
@media screen and (max-width: 580px) {
  #modalPhone .modal-dialog {
    margin-left: auto;
    margin-right: auto;
}
#modalPhone .modal-body {
    padding: 35px 20px;
}
.modal-phone-untitle {
    font-size: 16px;
}
.modal-phone-title {
    font-size: 26px;
}
}
@media screen and (max-width: 500px) {
  .service-box-link {
    margin-bottom: 20px;
}
.s-btn {
  font-size: 19px;
}
.service-box-img-title {
left: 15px;
padding-right: 15px;
}
.service-box-text {
    padding: 20px 15px 50px 15px;
}
.catalog-box-f span, .gallery-box-f span {
  margin-right: 15px;
}
.service-box-text-bottom {

    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.service-box-img-title {

    font-family: 'Scada', sans-serif;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    bottom: 15px;
    margin: 0;
    left: 36px;
    padding-right: 36px;

}
  .head-right {
    display: none !important;
  }
  .head-left {
    flex: 0 0 100%;
  }
  .head-btn-menu-box {
    order: 2;
    margin-right: 0;
    margin-left: auto;
  }
}
@media screen and (max-width: 480px) {
  .menu-box-wrapper {
padding: 50px 35px 0 35px;
max-width: 320px;
width: 100%;
}

}
/*4 variants for block*/
.description-box-wrapper, .service-wrapper-box, .steps-box-wrapper, .goods-box-wrapper, .catalog-box-wrapper, .comment-box-wrapper, .gallery-box-wrapper, .map-box-wrapper {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;
}
.background-block .container {
position: relative;
}
.background-block:before {
content: '';
background-color: rgba(0, 0, 0, .5);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 0;
}
.gray-block {
background-color: #EDF0F4 !important;
}
.white-block {
background-color: #ffffff !important;
}
/*4 variants for block*/
@media screen and (min-width: 768px) {
.gallery-div {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
height: 272px;}
.gallery-div a {
height: 100%;
}
.gallery-div img {
min-height: 100%;
}
}